

.containerInfo {
    position: relative;
}

.containerInfo__title {
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 4px 6px 0px rgba(0, 0,0, 17);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.containerInfo__quote {
    
    color: gray;
    background-image: url("/images/rectangle.png");
    padding: 20px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2.5;
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 500px;
    min-width: 300px;
  


    
}

.quotes {
    position: absolute;
    left: 75%;
    right: 12.5%;
    top: 75%;
    bottom: 20.1%;
    
}


